<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="topnav">
  	  <a class="active" href="/">Back</a>
  	</div>
  	<br><br>

  	<p>  
  
  <div class="col-md-12 col-sm-12 col-lg-12  main-div">
  <br>

  <h4>Products Ordered</h4>

  	{% for each in product_list %}
  		<div class="col-md-3 col-sm-6 col-lg-3 prod-list">
        <br>
        <ul>

  		{% for each1 in each %}
  			<li class="item">Name : {{each1.name}}</li>
          	<li>Price : {{each1.price}}</li>
          	<li>Quantity : {{each1.quantity}}</li>
          	<li>Category : {{each1.category_name}}</li>
  		{% endfor %}
  		</ul>
        <br>
       </div>
  	{% endfor %}
  	</div>
</body>
</html>
<style type="text/css">
.body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.prod-list{
  display: inline-block;
  border:1px solid #8080802e;
  margin:10px 10px 10px 0;
  padding: 5px;
  height:200px;
  width:160px;
}
.cart-div{
    border:1px solid #8080802e;
    padding-left: 10px;
    min-height: 100px;
    margin-left:20px;
    overflow-y: scroll;
    max-height: 200px;
}
.cart-list{
  min-height: 50px;
  padding:10px;
}
.add-btn{
  float:right;
}
.main-div{
  padding-left: 10px;
  padding-right: 10%;
}
ul{
  margin-top:15px;
}
.add-btn-div{
  margin-top: 10px;
  margin-bottom: 10px;
}
.cart-title{
  margin-left: 20px;
}
</style>