<html>
<head>
	<title></title>
</head>
{% load static %}
<link href="{% static 'css/nav_style.css' %}" rel="stylesheet">

<body>
	<div class="topnav">
	  <a href="/home">Product</a>
	  <a class="active" href="/category">Category</a>
	  <a href="/logout">Logout</a>
	</div>
	<br><br>
	<label>Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label>
	<input type="text" name="category" id="category">
	<br>
	<br>
	<label>Sub Category&nbsp;&nbsp;:</label>
	<input type="text" name="subcategory" id="subcategory">
	<br>
	<br>
	<button name="submit" id="submit">Add</button>
	<span id="display"></span>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
	$( document ).ready(function() {
    	$("#display").hide();
	});
	$( "#submit" ).click(function() {
  		console.log($('#subcategory').val())
  		console.log($('#category').val())
  		if($('#subcategory').val() == "")
  			$('#subcategory').focus()
  		else{
	  		$.ajax({
	  			url:'/category',
	  			type: 'post',
	  			dataType: 'json',
	  			data: {'category': $('#category').val(), 'subcategory': $('#subcategory').val(), 'csrfmiddlewaretoken': 
	  			'{{ csrf_token }}'},
	  			success: function (data) {
	                console.log('success');
	                $("#display").html('')
	                if('error' in data)
                		window.location.href = "/error"
	                // console.log(data['message'])
	                $("#display").html(data['message'])
	                $("#display").show();
					setTimeout(function() { $("#display").hide(); }, 2000);


	            },
	  		})
	  	}
	});
</script>