<html>
<head>
	<title></title>
</head>
{% load static %}
<link href="{% static 'css/nav_style.css' %}" rel="stylesheet">

<body>
	<div class="topnav">
	  <a class="active" href="/home">Product</a>
	  <a href="/category">Category</a>
	  <a href="/logout">Logout</a>
	</div>
	<br><br>

	<label>Product Name&nbsp;&nbsp;:</label>
	<input type="text" name="name" id="name">
	<br>
	<br>
	<label>Price &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label>
	<input type="text" name="price" id="price">
	<br>
	<br>
	<label>Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label>
	<select name="category" id="category">
		{% for each in category %}
			<option>{{ each.category_name }}</option>
		{% endfor %}
	</select>
	<br>
	<br>
	<label>Quantity&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label>
	<input type="text" name="quantity" id="quantity">
	<br>
	<br>
	<button name="submit" id="submit">Add</button>
	<span id="display"></span>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
	$( document ).ready(function() {
    	$("#display").hide();
	});
	$( "#submit" ).click(function() {
  		console.log($('#category').val())
  		if($('#name').val() == "")
  			$('#name').focus()
  		else if($('#category').val() == "")
  			$('#category').focus()
  		else if($('#price').val() == "" || !$.isNumeric($('#price').val()))
  			$('#price').focus()
  		else if($('#quantity').val() == "" || !$.isNumeric($('#quantity').val()))
  			$('#quantity').focus()
  		else{

	  		$.ajax({
	  			url:'/home',
	  			type: 'post',
	  			dataType: 'json',
	  			data: {'name': $('#name').val(), 'category': $('#category').val(), 'price': $('#price').val(),  'quantity': $('#quantity').val(), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
	  			success: function (data) {
	                console.log('success');
	                if('error' in data)
               			window.location.href = "/error"
	                $("#display").html('')
	                // console.log(data['message'])
	                $("#display").html(data['message'])
	                $("#display").show();
					setTimeout(function() { $("#display").hide(); }, 2000);

	            },
	  		})
  		}
	});
</script>