<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<!-- <form action="cart" method="post"> -->
    <!-- {% csrf_token%}   -->
  	<div class="topnav">
  	  <a class="active" href="/">Home</a>
  	  <a href="/login">Login</a>
  	</div>
  	<br><br>

  <p>  
  <h4 class="cart-title">Cart List</h4>
  </p>
  <div class="col-md-3 col-sm-6 col-lg-3 cart-div" name="cart_list_div" id="cart_list_div">
    <ul class="cart-list"></ul>
  </div><div class="col-md-9 col-sm-6 col-lg-9"></div>
  <div class="col-md-12 col-sm-12 col-lg-12  main-div">
  <br>
  <btn class="btn-sm btn-primary submit-btn" type="button" id="buy">Buy</btn>
  <!-- <button class="btn btn-success btn-lg float-right" type="button" id="buy">Buy</button> -->

    <!-- <div class="add-btn-div col-md-12 col-sm-12 col-lg-12">
      <button type="button" class="add-btn  btn-xs btn-default" onClick="">Buy</button>
    </div> -->
    <h4>Products</h4>

    {% for each in product_details %}
        <div class="col-md-3 col-sm-6 col-lg-3 prod-list">
        <br>
        <ul>
          <li class="item">Name : {{each.name}}</li>
          <li>Price : {{each.price}}</li>
          <li>Quantity : {{each.quantity}}</li>
          <li>Category : {{each.category_name}}</li>
          <!-- <li>Subcategory : {{each.subcategory_name}}</li> -->
        </ul>
        <br>
        <div class="add-btn-div col-md-12 col-sm-12 col-lg-12">
        <button type="button" class="add-btn  btn-xs btn-default" onClick="addToCart('{{each.name}}')">Add to Cart</button>
        </div>
      </div>
    {% endfor %}
  </div>
<!-- </form> -->
</body>
</html>

<style>

.body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.prod-list{
  display: inline-block;
  border:1px solid #8080802e;
  margin:10px 10px 10px 0;
  padding: 5px;
  height:200px;
  width:160px;
}
.cart-div{
    border:1px solid #8080802e;
    padding-left: 10px;
    min-height: 100px;
    margin-left:20px;
    overflow-y: scroll;
    max-height: 200px;
}
.cart-list{
  min-height: 50px;
  padding:10px;
}
.add-btn{
  float:right;
}
.main-div{
  padding-left: 10px;
  padding-right: 10%;
}
ul{
  margin-top:15px;
}
.add-btn-div{
  margin-top: 10px;
  margin-bottom: 10px;
}
.cart-title{
  margin-left: 20px;
}
</style>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
  var product_list = []
  function addToCart(name){
    product_list.push(name)
   console.log(name)
   $('.cart-list').append('<li>'+name+'</li>')
 }
 
 $('.add-btn').click(function(e){
  console.log($(e).closest('.item').text())
 });
 
 $( "#buy" ).click(function() {
    if(product_list.length === 0){
      console.log('List is empty')
    }
    else{
      console.log('checking in function')
      $.ajax({
            url:'/cart',
            type: 'post',
            dataType: 'json',
            data: {'product_list': JSON.stringify(product_list), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function (data) {
              if('error' in data)
                window.location.href = "/error"
              window.location.href = "/cart?product_details_list="+JSON.stringify({'product_details_list':data['product_details_list']})
                    

            },
          });
      }
 });
</script>